*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: white;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgba(8, 25, 48, 0.925);
}

.introduccion {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduccion__texto {
    margin-top: 2rem;
    width: 30rem;
    font-size: 1.3rem;
}

.introduccion__imagen {
    order: -1;
    height: 15rem;
    width: 15rem;
    border: solid .1rem white;
    border-radius: 10rem;
    background-image: url('/media/IMG_4110.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.navegacion {
    margin: 5rem auto;
    border-radius: .5rem;
    max-width: 100rem;
    width: 80%;
    /* height: 2.8rem; */
    border: solid white .1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.navegacion__enlace {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: .1rem solid rgba(221, 215, 215, 0.342);
    width: 100%;
}

.about,
.projects,
.formulario {
    margin: -1rem auto;
    max-width: 100rem;
    width: 90%;
    border: .1rem solid white;
    border-radius: .5rem;
    padding: 2rem 2rem;
    box-shadow: black -1rem 2rem 2rem;
}

.projects {
    margin-top: 5rem;
}

.about__titulo,
.projects__titulo {
    font-size: 1.5rem;
    text-align: center;
}

.about__parrafo,
.projects__parrafo {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

footer {
    margin-top: 6rem;
    font-size: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .introduccion {
        flex-direction: row;
    }
    .introduccion__texto {
        margin-top: 0;
        width: 40rem;
        font-size: 1.4rem;
    }
    .introduccion__imagen {
        order: 0;
        margin-left: 5rem;
        box-shadow: black 1rem 1rem 2rem;
    }
    .navegacion {
        flex-direction: row;
        margin-bottom: 10rem;
        height: 4rem;
    }
    .navegacion__enlace {
        font-size: 1.8rem;
        border-bottom: none;
    }
    main {
        display: grid;
        grid-template-areas: "aboutme    projects  " ".          .         " ".          .         " ".          .         " "formulario formulario";
    }
    .about {
        grid-area: "aboutme";
    }
    .projects {
        grid-area: "projects";
        margin-top: -1rem;
    }
    .formulario {
        grid-area: "formulario";
    }
    .about__titulo,
    .projects__titulo {
        font-size: 1.8rem;
        text-align: center;
    }
    .about__parrafo,
    .projects__parrafo {
        margin-top: 2rem;
        font-size: 1.5rem;
        text-align: justify;
    }
    footer {
        margin-top: 25rem;
    }
}

@media (min-width: 1140px) {
    .introduccion__texto {
        width: 60rem;
        font-size: 1.8rem;
    }
    .navegacion {
        margin: 10rem auto;
    }
    .projects {
        margin-top: -1rem;
    }
    .about__titulo,
    .projects__titulo {
        font-size: 1.8rem;
        text-align: center;
    }
    .about__parrafo,
    .projects__parrafo {
        margin-top: 2rem;
        font-size: 1.8rem;
        text-align: justify;
    }
    footer {
        margin-top: 25rem;
    }
}